.b-logo{
  color: #333333;
  font-family: $fontFamily;
  font-weight: 400;
  text-transform: uppercase;
}

.b-logo_type{
  font-size: 36px;
  line-height: 36px;
}

.b-logo_positionLeft{
  float: left;
  margin-top: 36px;
}



