.b-project{
  width: 100%;
  height: 431px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}
.b-project_item{
  width: 210px;
  height: 331px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.b-project__img{
  width: 100%;
  height: 130px;
  object-fit: cover;
  object-position: center;
  border: 5px solid #fff;
  outline: 1px solid #e2e2e2;
}
.b-project__title{
  color: #444;
  font-family:$fontFamily;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}
.b-project__text{
  width: 208px;
  height: 118px;
  color: #878787;
  font-family: $fontFamily;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  overflow: hidden;
}
.b-more{
  color: $fonColor;
  font-family: $fontFamily;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  transition-duration: .3s;
}

.b-more_position{
  align-self: flex-end;
}

.b-more:hover{
  color: darken($fonColor, 10%);
  text-decoration: none;
}
.b-more:focus{
  color: $fonColor;
  text-decoration: none;
}